* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 190px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #444;
    color: #fff;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

header h2 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    margin-left: 10px;
    text-shadow: 5px 5px 5px  rgba(255, 255, 255, 0.205);
}

header nav ul {
    display: flex;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 5px 5px 5px  rgba(255, 255, 255, 0.205);
    border-left: 3px white;
    margin-right: 16px;
}

header nav ul li {
    margin-left: 16px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo img{
    max-width: 75px;
    height: auto;
    margin-right: 16px; 
}

.carousel {
    position: relative;
    overflow: hidden;
    margin: 32px 0;
    text-align: center;
}

.carousel h2 {
    font-family: "Montserrat";
    font-weight: ;
    font-size: 40px;
    margin-top: 20px;
    text-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.267);
}

.carousel .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; /* důležité pro 3D efekt */
    position: relative;
    height: 400px;
}

.carousel .slide {
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.carousel .slide img {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 16px 16px;
    cursor: pointer;
}

.carousel .prev {
    left: 10px;
    height: 70px;
    width: 70px;
}

.carousel .next {
    right: 10px;
    height: 70px;
    width: 70px;
}

.akce {
    text-align: center;
    padding: 32px;
    background: #eee;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.199);
}

.akce button {
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: red;
    text-shadow: 5px 5px 5px  rgba(255, 255, 255, 0.404);
    padding: 7px;
    letter-spacing: 3px;
    font-style: bold;
    border: 2px  solid black;
    box-shadow: 0px 10px 10px 0px  rgba(0, 0, 0, 0.267);
    border-radius: 15px;
}

.akce h2 {
    font-family: "Montserrat";
    text-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.267);
}

/* Jemný oddělovací černý pás */
.carousel + .separator {
    height: 150px;
    background: rgba(0, 0, 0, 0.466);
    box-shadow: 10px 0px 10px 10px  rgba(0, 0, 0, 0.486);
    width: 100%;
}

/* Popup Akce */
.popup-akce {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background: #fff;
    color: #333;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.295);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease-in, visibility 0s linear 3s;
}

.popup-akce.active {
  opacity: 1;
}

.popup-akce.no-transition {
    transition: none !important; /* Vypneme transition */
    opacity: 0;
    visibility: hidden;
}

.popup-akce.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 3s ease-in;
}

.popup-akce .popup-content {
    position: relative;
    text-align: center;
}

.popup-akce h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #0000008e;
    text-shadow: 5px 5px 5px  rgba(90, 90, 90, 0.267);
    padding-right: 15px;
}

#popup-timer {
    font-size: 32px;
    font-weight: bold;
    color: #e63946;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(124, 35, 35);
}

#popup-btn {
    background-color: red;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

#popup-btn:hover {
    background-color: #a60000;
}

#popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    font-weight: bold;
}

#popup-close:hover {
    color: #333;
}

#timer {
    font-size: 60px;
    color: #e63946;
    font-family: "Montserrat";
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(124, 35, 35);
}

.cenik, .recenze, .faq, .rezervace, .mapa {
    padding: 32px;
    background: #fff;
    margin: 16px auto;
    max-width: 540px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
    margin-top: 30px;
    text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.171);
}

.cenik, .recenze, .faq, .rezervace, .mapa h2 {
    font-family: "Montserrat";
    font-size: 22px;
}

.cenik {
    padding: 32px;
    background: #fff;
    margin: 16px auto;
    max-width: 540px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
    margin-top: 65px;
    font-family: "Montserrat", sans-serif;
}

.cenik h2 {
    text-align: center;
    margin-bottom: 32px;
    font-family: "Montserrat";
}

.cenik p {
    text-align: center;
    margin-bottom: -15px;
    margin-top: -15px;
    font-size: 10px;
}

.cenik-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
}

.cenik-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.cenik-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.cenik-info .nazev {
    text-align: left;
}

.cenik-info .cena {
    text-align: right;
    color: #e63946;
}

.recenze article {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #eee;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recenze h2 {
    padding-bottom: 20px;
}

.recenze article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recenze-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.recenze-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    border: 2px solid #ddd;
}

.hodnoceni {
    font-size: 20px;
    font-weight: bold;
    color: #f5a623;
}

.recenze-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.recenze-author {
    font-size: 14px;
    color: #777;
    text-align: right;
}

.faq h2 {
    padding-bottom: 20px;
}

.faq p {
    margin-left: 40px;
    font-style: bold;
    font-weight: 600;
}

.faq summary {
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.rezervace h2 {
    padding-bottom: 20px;
}

.rezervace form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rezervace label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
}

.rezervace input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
}

.rezervace input[type="text"] {
    width: 50%;
}

.rezervace input[type="email"] {
    width: 70%;
}

.rezervace input[type="date"] {
    width: 26%;
}

.rezervace select {
    width: 26%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
}

.rezervace textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Arial", sans-serif;
    resize: vertical;
}

.rezervace button {
    padding: 7px;
    font-size: 30px;
    margin-top: 10px;
    margin: 10px auto;
    width: 50%;
    letter-spacing: 2px;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    background-color: #3d9403;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.rezervace button:hover {
    background-color: #666;
}

.mapa h2 {
    padding-bottom: 20px;
    font-family: "Montserrat";
    font-size: 32px;
}

.mapa iframe {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* pro responsivitu */
    text-align: center;
    padding: 16px;
    background: #444;
    color: white;
    margin-top: 32px;
    font-family: "Montserrat", sans-serif;
}

footer .footer-left, footer .footer-center, footer .footer-right {
    flex: 1;
    min-width: 200px;
    padding: 8px;
}

footer .footer-center {
    text-align: center;
}

footer .footer-left {
    text-align: left;
}

footer .footer-right {
    text-align: right;
}

.footer-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #ccc;
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
       margin: -3px 5px;
    }
}
